<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>258271771151-cutkguaqi06jj3e0abv4et8ma7seel4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258271771151-cutkguaqi06jj3e0abv4et8ma7seel4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCe7ZtJK07w2lW0UP53aft4tiz2XI_MGJU</string>
	<key>GCM_SENDER_ID</key>
	<string>258271771151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aptech.finalproject</string>
	<key>PROJECT_ID</key>
	<string>reactnativebatch04</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativebatch04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258271771151:ios:ad1225b2521d2b3d</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativebatch04.firebaseio.com</string>
</dict>
</plist>